.drag-drop-zone {
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid grey;
  background: #f9f9f9;

  &.inside-drag-area {
    opacity: 0.4;
  }

  .file-browser-zone {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
  }

  button {
    padding: 0;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    background: none;
    color: #737a91;
    font-size: 1.1rem;
    letter-spacing: -0.03em;
  }
}
